<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/weather.jpg">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
        <div class="main-content">
             {{>header}}
            
            <form class="weather-input" action="/weather">
                <label>Location :</label>
                <input type="text" name="address" placeholder="Enter Your Location here">
                <button>Search</button>
                
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>

            {{!-- <div>
                <h1>{{address}}</h1>
                <h4>{{error}}</h4>
                <label>{{location}}</label>
                <p>{{forecast}}</p>
            </div> --}}
        </div>
        
         {{>footer}}
                 <script src="/js/app.js"></script>

         </body>
</html>