body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: -15px auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
    padding: 15px;
    background: #eeeeee;
}

h1 {
    font-size: 30px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 10px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: black;
    padding: 10px;
}

